RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} .*MSIE.*
RewriteCond %{REQUEST_URI} \.xhtml$
RewriteRule .* - [T=text/html]

<Files "join">
  Options MultiViews
</Files>

<Files "intro">
  Options MultiViews
</Files>

<Files "thanks">
  Options MultiViews
</Files>

