Options -Indexes
RewriteEngine on 
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L]

RewriteRule ^previews/([0-9]{1,4}).*$ previews.php?article=$1 [L,QSA]
RewriteRule ^buy/([0-9]{1,4}).*$ buy.php?article=$1 [L,QSA]
RewriteRule ^articles/([0-9]{1,4}).*$ articles.php?article=$1 [L,QSA]
RewriteRule ^$ /demos/oauth/news/previews/1 [R=permanent]
