/* License: GPLv2 or later (same as Myskin) */
/* Please contact Samat Jain <http://samat.org/> if you've questions */

@font-face {
font-family: "aller-bold";
src: url("../../../css/fonts/Aller_Bd.ttf");
}

body
{
  background: #f9f9f9;
  font-family: Serif;
  font-size: 1.2em;
  margin: auto;
  padding: 1em;
  max-width: 80%;
}

p
{
  line-height: 1em !important;
}

#globalWrapper
{
  margin-top: 100px;
}

#bodyContent
{
  margin-left: 2%;
}

#bodyContent > h2
{
  margin-left: -2%;
}

#bodyContent > h3
{
  margin-left: -2%;
}

#siteSub
{
  display: none;
  font-weight: normal;
  font-size: 1.0em;
  margin-left: -2%;
  font-size: 0.9em;
  border-bottom: 1px solid #888888;
  padding-bottom: 1ex;
  margin-bottom: 1ex;
  text-align: center;
}

#content
{
  margin-top: 2.25em;
}

table
{
  clear: both;
}

h1, h2, h3
{
  margin: 0;
}

h1
{
  font-size: 2.0em;
  font-weight: normal;
  text-align: center;
  padding: 1ex 1ex 0.5ex;
  letter-spacing: -0.1ex;
}

h2
{
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: -0.1ex;
  padding-bottom: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "aller-bold", Georgia, Serif;
}

h3, h4, h5, h6
{
  font-size: 1.1em;
}

#p-search
{
  display: none;
  position: fixed;
  top: 0; left: 0;
  z-index: 4;
  width: 50%;
  padding: 0.2em;
}

#p-cactions h5, #p-search h5 { display: none; }

input[type="submit"]
{
  border: 1px outset #369;
  background-color: #369;
  color: white;
}

input[type="text"],
textarea
{
  border: 1px inset grey;
}

textarea
{
  padding-left: 0.1em;
}

a:link,
a:visited,
a:hover
{
/*  font-weight: bold;*/
  text-decoration: underline;
}

a:link
{
  color: #369;
}

a:visited
{
  color: #636;
}

a.new:link,
a.new:visited
{
  color: #739900;
}

a:hover,
a.new:hover
{
  color: #CC0000;
}

h2
{
  border-bottom: 1px solid #cccccc;
}

#jump-to-nav
{
  display: none;
}

#toc
{
  float: right;
  width: 30%;
  background-color: #eeeeee;
  padding: 0.5em;
  margin: 0.5em;
}

#catlinks
{
  background-color: #eeeeee;
  padding: 0.1em 0.75em 0.1em 0.75em;
  margin: 1em 0 0.5em 0;
}

.portlet
{
  font-size: 0.75em;
  width: 32%;
  float: left;
}

.portlet h5
{
  margin: 0;
  margin-top: 0.5em;
  padding-bottom: 0.5ex;
  border-bottom: 1px solid silver;
}

#footer
{
  font-size: 0.75em;
}

#f-list
{
  display: inline;
  list-style-type: none;
}

#f-list li
{
  float: left;
  margin: 0.2em;
}

#privacy
{
  display: none;
}

#about 
{
  display: none;
}

#disclaimer
{
  display: none;
}

.printfooter {
  display: none;
  border-top: 1px solid black;
  padding-top: 1em;
  margin-top: 1em;
}

#p-cactions
{
  position: fixed;
  top: 0; right: 0;
  width: 100% !important;
  height: 100px;
  background: #070 url(../../../images/payswarm-title.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-bottom: 3px;
  border-bottom: 1px solid ButtonShadow;
  display: block;
  z-index: 3;
  font-size: smaller;
}

#p-cactions ul
{
  display: block;
  margin: 0;
  padding: 0;
  text-align: right;
  padding: 82px;
  font-size: 16px;
}

#p-cactions li
{
  display: inline;
  background: #181;
}

#p-cactions li a
{
  display: inline;
  padding: 0.1em 0.3em 3px 0.3em;
  border: 1px outset #5a5;
  border-bottom: none;
  text-decoration: none;
  color: MenuText;
}

#p-cactions li.selected a
{
  background-color: white;
  border-bottom: 1px solid white;
}

#p-cactions li a:hover
{
  background-color: ButtonHighlight;
}

img
{
  border: none;
}


div.thumb
{
  border: 1px solid #dddddd;
  padding: 0.5em;
  background-color: white;
}

.tright
{
  margin: 0.25em 0 0.5em 0.5em;
  float: right;
}

.tleft
{
  margin: 0.25em 0.5em 0.5em 0;
}

#f-poweredbyico,
#f-copyrightico
{
  display: none;
}

pre
{
  background-color: #f7f7f7;
  padding: 0.2em;
  border: 1px solid #eeeeee;
}

td.diff-otitle { background:#cccccc; }
td.diff-ntitle { background:#cccccc; }

td.diff-addedline
{
  background:#ccffcc;
}

td.diff-deletedline
{
  background:#ffffaa;
}

td.diff-context
{
  background:#eeeeee;
  font-size: 0.9em;
}

span.diffchange
{
  color: red;
  font-weight: bold;
}

#p-lang
{
  width: auto;
  clear: both;
}

#p-lang ul
{
  padding-left: 0;
}

#p-lang li
{
  list-style-type: none;
  display: inline;
}

.editsection
{
  float: right;
  font-size: smaller;
}

table.navbox,
table.wikitable
{
  font-size: 1.0em;
}
