/* Socialsite CSS */

* {
margin: 0;
padding: 0;
}

html {
}

body {
color: #333;
background-color: #fff;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
font-size: 11px;
}

a {
color: #3b5998;
text-decoration: none;
outline-style: none;
}

a:hover, a:active {
text-decoration: underline;
}

p {
margin: 10px 0;
}

.hidden {
display: none;
}

#header {
position: relative;
height: 80px;
color: #fff;
background-color: #3b5998;
}

#header>div {
width: 960px;
margin: 0 auto;
}

#header h1 {
position: absolute;
margin-top: 25px;
font-size: 32px;
}

#header a {
color: #fff;
}

#content {
width: 960px;
margin: 0 auto;
padding: 40px 0;
}

#footer {
width: 960px;
margin: 20px auto 0;
color: #bbb;
border-top: 1px solid #ccc;
}

#footer p {
margin: 10px;
}

#copyright {
float: left;
}

#copyright a {
color: #aaa;
}

#legal {
float: right;
}

/*-- Login --*/
#login {
width: 610px;
margin: 20px auto;
padding: 15px;
border: 1px solid #ccc;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

#login h2 {
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;

font-size: 16px;
line-height: 20px;
}

.form {
}

.form p {
margin: 10px 0 10px 100px;
}

div.row {
margin: 10px 0;
}

.form label {
display: block;
float: left;
padding: 3px 0;
width: 100px;
color: #666;
cursor: pointer;
font-weight: bold;
vertical-align: middle;
}

.form-input {
width: 410px;
margin: 0;
padding-bottom: 4px;
border: 1px solid #BDC7D8;
padding: 3px;
}

.button-row, .help-row {
margin: 10px 0 0 100px;
}

button.provider {
padding: 5px;
background-color: #fff;
border: 1px solid #ccc;
cursor: pointer;
}

button.provider:hover {
border-color: #3b5998;
-moz-box-shadow: 0 0 4px #ccc;
-webkit-box-shadow: 0 0 4px #ccc;
box-shadow: 0 0 4px #ccc;
}

button.social {
border: 0 none;
color: #fff;
cursor: pointer;
display: inline-block;
font-size: 13px;
font-weight: bold;
margin: 0;
outline-color: -moz-use-text-color;
outline-style: none;
outline-width: medium;
padding: 2px 6px;
white-space: nowrap;
text-align: center;

background-color: #5B74A8;
background-position: 0 -48px;
border: 1px solid #1A356E;
border-color: #98A9CA #29447E #29447E #1A356E;
}

.error {
padding: 10px;
background-color: #FFEBE8;
border: 1px solid #DD3C10;
}

.error h2 {
font-size: 13px;
}

.error a {
color: #dd3c10;
}

#webid-iframe {
width: 100%;
height: 300px;
border: 1px solid #ddd;
}

/*-- Home --*/
#home {
width: 600px;
}
